<div class="content">
  <div class="left-block">
    <div class="vent-form">
      <h1 tabindex="2"><%= t("vent.vent_away") %></h1>
      <%= render "form", vent: vent %>
    </div>
    <div>
      <h1 tabindex="2"><%= t("vent.vents") %></h1>
      <% if vents.blank? %>
        <p> <%= t("vent.no_vents") %></p>
      <% else %>
        <ul class="vent-index" id="vent-index">
          <% vents.each do |vent| %>
            <li class="vent">
              <p><%= vent.text %></p>
              <sub><%= submit_time(vent) %></sub>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="right-block">
    <h1 tabindex="1"><%= t("vent.welcome")%></h1>
    <p id="toggle" class="toggle">Instructions<i class="fa fa-chevron-down" aria-hidden="true"></i></p>
    <span id="instructions" class="instructions"><p><%= t("vent.instructions") %></p></span>
  </div>
</div>
