<!DOCTYPE html>
<html>
  <head>
    <title>Lunar Collective - Code Challenge</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=.79">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" media="screen">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav.html.erb" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
